<f:for each="{document.states}" as="state">
	<f:link.action action="removeState" controller="api\document" format="json" arguments="{document:document, state:state}"
				   title="{state.dateTime->f:format.date(format:'Y-m-d h:i:s ')}"
				   id="state_{state->f:format.identifier()}"
				   class="api-state-remove badge badge-{state.severity} {f:if(condition: '{state}=={document.primaryState}', then:' badge-primary', else:'')}">
		<i class="glyphicon glyphicon-info-sign"></i>
		<f:if condition="{state.message}">
			<f:then>{state.message}</f:then>
			<f:else>{state.code}</f:else>
		</f:if>
	</f:link.action>
</f:for>