{namespace pf=PIPEU\Factura\ViewHelpers}

<table class="display dataTable">
	<thead>
	<tr>
		<th>Options</th>
		<th>Convert to ...</th>
		<th>Date</th>
		<th>Type</th>
		<th>Order#</th>
		<th>Serial#</th>
		<th>Summary</th>
		<th>States</th>
		<th>Name</th>
		<th>Country</th>
		<th>Language</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{documents}" as="document">
		<f:render section="document" arguments="{_all}"/>
	</f:for>
	</tbody>
</table>

<f:section name="document">
	<tr id="doc_{document->f:format.identifier()}">
		<td style="white-space: nowrap">
			<f:render partial="Options/Default" arguments="{_all}"/>
		</td>
		<td style="white-space: nowrap">
			<f:render partial="Options/Converter" arguments="{_all}"/>
		</td>
		<td style="white-space: nowrap">
			<f:format.date>{document.DateTime}</f:format.date>
		</td>
		<td>{document.type}</td>
		<td>{document.mainDocument.serialNumber}</td>
		<td>{document.serialNumber}</td>
		<td style="white-space: nowrap">
			<pf:format.currency currencySign="€">{document.summaryGross}</pf:format.currency>
		</td>
		<td class="states">
			<f:render partial="States/Default" arguments="{_all}"/>
		</td>
		<td style="white-space: nowrap">
			{document.primaryPersonName}
		</td>
		<td style="white-space: nowrap">
			{document.primaryPostal.country.name}/{document.secondaryPostal.country.name}
		</td>
		<td>{document.localeIdentifier}</td>
	</tr>
</f:section>