<f:flashMessages as="flashMessages">
	<f:if condition="{flashMessages->f:count()>0}">
		<f:for each="{flashMessages}" as="flashMessage">
			<div id="flashMessage_{flashMessage.code}"
				 data-i18nlabel="{flashMessage.severity}{f:if(condition:'{flashMessage.code}', then: '.{flashMessage.code}', else:'' )}"
				 class="alert alert-{flashMessage.severity} alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<strong>
					<f:if condition="{flashMessage.title}">
						<f:then>
							<f:translate package="PIPEU.Site" source="FlashMessages"
										 id="{flashMessage.severity}{f:if(condition:'{flashMessage.code}', then: '.{flashMessage.code}', else:'' )}"
										 arguments="{flashMessage.arguments}">{flashMessage.title}
							</f:translate>
						</f:then>
						<f:else>
							<f:translate package="PIPEU.Site" source="FlashMessages"
										 id="{flashMessage.severity}{f:if(condition:'{flashMessage.code}', then: '.{flashMessage.code}', else:'' )}"
										 arguments="{flashMessage.arguments}">{flashMessage.severity}
							</f:translate>
						</f:else>
					</f:if>
				</strong><br/>
				<f:translate package="PIPEU.Site" source="FlashMessages"
							 id="{flashMessage.severity}{f:if(condition:'{flashMessage.code}', then: '.{flashMessage.code}', else:'' )}.message"
							 arguments="{flashMessage.arguments}">
					{flashMessage.message}
				</f:translate>
			</div>
		</f:for>
	</f:if>
</f:flashMessages>
