@import "../../../../../Libraries/twbs/bootstrap/less/variables.less";

//@screen-lg: @screen-md;

@icon-font-path: "../Libraries/Fonts/Bootstrap/";

@navbar-height: 30px;
@navbar-border-radius: 0;

@font-family-sans-serif: "Roboto Condensed", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;

@gray-lightest: lighten(#000, 97.5%);

@text-color: black;
@brand-primary: #b02423;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: @brand-primary;

@has-error-state-success-text: rgb(92, 184, 92);
@has-error-state-info-text: rgb(91, 193, 222);
@has-error-state-warning-text: rgb(240, 173, 78);
@has-error-state-danger-text: rgb(167, 63, 61);

@input-color: @text-color;
@input-bg: rgba(255, 255, 255, 0.25);
@input-border: black;
@input-color-placeholder: lighten(@input-color, 55%);
//@input-border-radius: 0;
//
//@border-radius-base: 0;
//@border-radius-large: 0;
//@border-radius-small: 0;

@pagination-bg: transparent;
@pagination-border: transparent;
@pagination-hover-bg: transparent;
@pagination-hover-border: transparent;
@pagination-active-bg: transparent;
@pagination-active-border: transparent;

@font-size-h1: ceil((@font-size-base * 2.5));
@font-size-h2: ceil((@font-size-base * 2.25));
@font-size-h3: ceil((@font-size-base * 2));
@font-size-h4: ceil((@font-size-base * 1.75));
@font-size-h5: ceil((@font-size-base * 1.5));
@font-size-h6: ceil((@font-size-base * 1.25));

@normal-font-weight: 300;
@bold-font-weight: 400;
@header-font-weight: 700;
@btn-font-weight: @normal-font-weight;
@headings-font-weight: @bold-font-weight;
@alert-link-font-weight: @bold-font-weight;
@badge-font-weight: @bold-font-weight;
@close-font-weight: @bold-font-weight;

@btn-default-border: transparent;
@btn-primary-border: @btn-default-border;
@btn-success-border: @btn-default-border;
@btn-info-border: @btn-default-border;
@btn-warning-border: @btn-default-border;
@btn-danger-border: @btn-default-border;

@btn-default-color: white;
@btn-default-bg: #6e6e6e;

@btn-primary-color: #fff;
@btn-primary-bg: @brand-primary;

@btn-success-color: #fff;
@btn-success-bg: @brand-success;

@btn-info-color: #fff;
@btn-info-bg: @brand-info;

@btn-warning-color: #fff;
@btn-warning-bg: @brand-warning;

@btn-danger-color: #fff;
@btn-danger-bg: @brand-danger;
