<f:layout name="Default"/>

<f:section name="title">Login</f:section>

<f:section name="stylesheets">
	<f:render partial="Styles"/>
</f:section>

<f:section name="scripts">
	<f:render partial="Scripts"/>
</f:section>

<f:section name="flashMessages">
	<f:render partial="Messages/Default"/>
</f:section>

<f:section name="content">
	<div class="container container-desktop">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<f:form action="authenticate">
						<fieldset>
							<legend>Credentials</legend>
							<div class="form-group">
								<f:form.textfield id="username" class="form-control" type="text" placeholder="Username"
												  name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
												  additionalAttributes="{autofocus: 'autofocus'}" value="{username}"/>
							</div>
							<div class="form-group">
								<f:form.textfield id="password" class="form-control" type="password" placeholder="Password"
												  name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"/>
							</div>
						</fieldset>
						<f:form.submit value="Login" class="btn btn-primary"/>
					</f:form>
				</div>
			</div>
		</div>
	</div>
</f:section>