<f:layout name="Default"/>

<f:section name="title">All</f:section>

<f:section name="stylesheets">
	<f:render partial="Styles"/>
</f:section>

<f:section name="scripts">
	<f:render partial="Scripts"/>
</f:section>

<f:section name="flashMessages">
	<f:render partial="Messages/Default"/>
</f:section>

<f:section name="content">
	<f:render partial="Document/List/Table" arguments="{_all}"/>
</f:section>