<f:form action="download" objectName="filter" object="{filter}" class="form-horizontal" method="post">
	<fieldset>
		<legend>Download-Options</legend>
		<div class="form-group">
			<div class="col-sm-12">
				<f:form.submit value="Download factura-package based on current filter" class="form-control btn btn-primary"/>
			</div>
			<f:form.hidden property="startDate" value="{f:format.date(date:filter.startDate, format:'Y-m-d')}"/>
			<f:form.hidden property="endDate" value="{f:format.date(date:filter.endDate, format:'Y-m-d')}"/>
			<f:form.hidden property="transactionType"/>
		</div>
	</fieldset>
</f:form>