<f:form action="filter" objectName="filter" object="{filter}" class="form-horizontal" method="post">
	<fieldset>
		<legend>Filter-Option</legend>
		<div class="form-group">
			<label for="startDate" class="col-sm-1 control-label">End-Date</label>

			<div class="col-sm-2">
				<f:form.textfield property="startDate.date" type="date"
								  value="{f:format.date(date:filter.startDate, format:'Y-m-d')}" class="form-control"
								  id="startDate"/>
			</div>

			<label for="endDate" class="col-sm-1 control-label">End-Date</label>

			<div class="col-sm-2">
				<f:form.textfield property="endDate.date" type="date"
								  value="{f:format.date(date:filter.endDate, format:'Y-m-d')}" class="form-control"
								  id="endDate"/>
			</div>

			<label for="transactionType" class="col-sm-1 control-label">Type</label>

			<div class="col-sm-2">
				<f:form.select property="transactionType" id="transactionType" class="form-control"
							   options="{all:'-', appointed:'appointed', paid:'paid'}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<f:form.submit value="Filter" class="form-control btn btn-default"/>
			</div>
		</div>
	</fieldset>
</f:form>