{namespace pf=PIPEU\Factura\ViewHelpers}

<table class="display table">
	<thead>
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Transaction#</th>
		<th>Serial#</th>
		<th>Summary</th>
		<th>Name</th>
		<th>Country</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{logs}" as="log">
		<f:render section="log" arguments="{_all}"/>
	</f:for>
	</tbody>
</table>

<f:section name="log">
	<tr id="log_{log->f:format.identifier()}">
		<td style="white-space: nowrap">
			<f:format.date>{log.DateTime}</f:format.date>
		</td>
		<td>{log.data.txaction}</td>
		<td>{log.data.txid}</td>
		<td>
			<f:link.action action="download" arguments="{document:log.document}" controller="document"
						   title="Download document" class="btn btn-default btn-xs btn-download">
				<i class="glyphicon glyphicon-download"></i> {log.document.serialNumber}
			</f:link.action>
		</td>
		<td style="white-space: nowrap">
			<pf:format.currency currencySign="€">{log.document.summaryGross}</pf:format.currency>
		</td>
		<td style="white-space: nowrap">
			{log.document.primaryPersonName}
		</td>
		<td style="white-space: nowrap">
			{log.document.primaryPostal.country.name}/{log.document.secondaryPostal.country.name}
		</td>
	</tr>
</f:section>