<script type="text/javascript" charset="utf8" src="{f:uri.resource(path:'Libraries/JavaScript/JQuery/jquery.min.js',package:'PIPEU.Accounting')}"></script>
<script type="text/javascript" charset="utf8" src="{f:uri.resource(path:'Libraries/JavaScript/Bootstrap/alert.js',package:'PIPEU.Accounting')}"></script>
<script type="text/javascript" charset="utf8" src="{f:uri.resource(path:'Libraries/JavaScript/Site.js',package:'PIPEU.Accounting')}"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script type="text/javascript" charset="utf8" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" charset="utf8" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

