<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>
		<f:render section="title" optional="{true}"/>
	</title>
	<f:render section="stylesheets" optional="{true}"/>
	<f:render section="scripts" optional="{true}"/>
	<f:base/>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div id="navbar">
			<ul class="nav navbar-nav">
				<li><f:link.action action="index" controller="document" class="pull-right">Inbox</f:link.action></li>
				<li><f:link.action action="archive" controller="document" class="pull-right">Archive</f:link.action></li>
				<li><f:link.action action="index" controller="transaction" class="pull-right">Transactions</f:link.action></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<f:render section="flashMessages" optional="{true}"/>
	<f:render section="content" optional="{true}"/>
</div>
</body>
</html>