<f:link.action action="reverse" arguments="{document:document}" format="json" controller="api\document"
			   title="Create reverse note" class="btn btn-default btn-xs api-convert">Reverse
</f:link.action>

<f:link.action action="delivery" arguments="{document:document}" format="json" controller="api\document"
			   title="Create delivery note" class="btn btn-default btn-xs api-convert">Delivery
</f:link.action>

<f:link.action action="credit" arguments="{document:document}" format="json" controller="api\document"
			   title="Create credit note" class="btn btn-default btn-xs api-convert">Credit
</f:link.action>