<f:link.action action="archived" arguments="{document:document}" format="json" controller="api\document"
			   title="Mark document as archived" class="btn btn-default btn-xs btn-archived api-archived-set">
	<i class="glyphicon glyphicon-compressed"></i>
</f:link.action>

&nbsp;

<f:link.action action="reversed" arguments="{document:document}" format="json" controller="api\document"
			   title="Mark document as reversed" class="btn btn-primary btn-xs btn-reversed api-state-set">
	<i class="glyphicon glyphicon-trash"></i>
</f:link.action>

&nbsp;

<f:link.action action="download" arguments="{document:document}" controller="document"
			   title="Download document" class="btn btn-default btn-xs btn-download">
	<i class="glyphicon glyphicon-download"></i>
</f:link.action>

<a href="/de/dokumente/show/{document.identity}/{document.identityHash}.html"
   title="Show document" class="btn btn-default btn-xs btn-show" target="{document.identity}">
	<i class="glyphicon glyphicon-eye-open"></i>
</a>

&nbsp;

<f:if condition="{document.type}=='Credit'">
	<f:link.action action="refunded" arguments="{document:document}" format="json" controller="api\document"
				   title="Mark document as refunded" class="btn btn-default btn-xs btn-refunded api-state-set">
		<i class="glyphicon glyphicon-euro"></i>
	</f:link.action>
</f:if>

<f:if condition="{document.type}=='Reverse'">
	<f:link.action action="refunded" arguments="{document:document}" format="json" controller="api\document"
				   title="Mark document as refunded" class="btn btn-default btn-xs btn-refunded api-state-set">
		<i class="glyphicon glyphicon-euro"></i>
	</f:link.action>
</f:if>

<f:if condition="{document.type}=='Invoice'">
	<f:link.action action="paid" arguments="{document:document}" format="json" controller="api\document"
				   title="Mark document as paid" class="btn btn-default btn-xs btn-paid api-state-set">
		<i class="glyphicon glyphicon-euro"></i>
	</f:link.action>
</f:if>

<f:if condition="{document.type}=='Delivery'">
	<f:link.action action="shipped" arguments="{document:document}" format="json" controller="api\document"
				   title="Mark document as shipped" class="btn btn-default btn-xs btn-shipped api-state-set">
		<i class="glyphicon glyphicon-road"></i>
	</f:link.action>
</f:if>

<f:if condition="{document.type}=='Order'">
	<f:if condition="{document.isApproved}">
		<f:then/>
		<f:else>
			<f:link.action action="approvementReminder" arguments="{document:document}" format="json" controller="api\document"
						   title="Mark document as reminded" class="btn btn-default btn-xs btn-approvementReminder api-state-set">
				<i class="glyphicon glyphicon-envelope"></i>
			</f:link.action>
		</f:else>
	</f:if>
</f:if>
<f:if condition="{document.type}=='Invoice'">
	<f:if condition="{document.isPaid}">
		<f:then/>
		<f:else>
			<f:link.action action="paymentReminder" arguments="{document:document}" format="json" controller="api\document"
						   title="Mark document as reminded" class="btn btn-default btn-xs btn-paymentReminder api-state-set">
				<i class="glyphicon glyphicon-envelope"></i>
			</f:link.action>
		</f:else>
	</f:if>
</f:if>
