{namespace pa=PIPEU\Accounting\ViewHelpers}
{namespace pf=PIPEU\Factura\ViewHelpers}

<f:layout name="Default"/>

<f:section name="title">Info</f:section>

<f:section name="stylesheets">
	<f:render partial="Styles"/>
</f:section>

<f:section name="content">

	<f:form action="index" object="{filter}" objectName="filter">
		<f:form.textfield property="startDate.date" type="date" value="{f:format.date(date:filter.startDate, format:'Y-m-d')}"/>
		<f:form.hidden property="startDate.hour"/>
		<f:form.hidden property="startDate.minute"/>
		<f:form.hidden property="startDate.second"/>

		<f:form.textfield property="endDate.date" type="date" value="{f:format.date(date:filter.endDate, format:'Y-m-d')}"/>
		<f:form.hidden property="endDate.hour"/>
		<f:form.hidden property="endDate.minute"/>
		<f:form.hidden property="endDate.second"/>

		<f:form.submit value="Filter" class="btn btn-primary"/>
	</f:form>

	<div class="document facturaDocument invoiceDocument">
		<table class="facturaCalculation">
			<pa:invoicesInfo invoices="{invoices}">
				<thead>
				<tr>
					<th>Invoices</th>
					<th>Summary</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="unit">{invoices->f:count()}</td>
					<td class="priceNet"><pf:format.currency currencySign="€">{summary}</pf:format.currency></td>
				</tr>
				</tbody>
			</pa:invoicesInfo>
			<pa:creditsInfo credits="{credits}">
				<thead>
				<tr>
					<th>Credits</th>
					<th>Summary</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="unit">{credits->f:count()}</td>
					<td class="priceNet"><pf:format.currency currencySign="€">{summary}</pf:format.currency></td>
				</tr>
				</tbody>
			</pa:creditsInfo>
			<pa:reversesInfo reverses="{reverses}">
				<thead>
				<tr>
					<th>Reverses</th>
					<th>Summary</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="unit">{reverses->f:count()}</td>
					<td class="priceNet"><pf:format.currency currencySign="€">{summary}</pf:format.currency></td>
				</tr>
				</tbody>
			</pa:reversesInfo>
			<pa:ordersInfo orders="{orders}">
				<thead>
				<tr>
					<th>Orders</th>
					<th>Summary</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="unit">{reverses->f:count()}</td>
					<td class="priceNet"><pf:format.currency currencySign="€">{summary}</pf:format.currency></td>
				</tr>
				</tbody>
			</pa:ordersInfo>
			<pa:ordersInfo orders="{deliveries}">
				<thead>
				<tr>
					<th>Deliveries</th>
					<th>Summary</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="unit">{deliveries->f:count()}</td>
					<td class="priceNet"><pf:format.currency currencySign="€">{summary}</pf:format.currency></td>
				</tr>
				</tbody>
			</pa:ordersInfo>
		</table>
	</div>

</f:section>