@import "../../../../../../Libraries/twbs/bootstrap/less/alerts.less";

.alert {
  margin-top: @grid-gutter-width;
  margin-bottom: (@grid-gutter-width);
}

.alert-OK {
  .alert-success();
}

.alert-Error {
  .alert-danger();
}

.alert-Warning {
  .alert-warning();
}

.alert-Notice {
  .alert-info();
}



