
a, button {
  &.badge {

    border: none;

    padding: 4px 8px;
    height: auto;
    margin-bottom: 0.5em;
    opacity: 0.2;
    text-shadow: none;

    &:hover {
      opacity: 1;
    }

    &.badge-OK {
      background-color: @alert-success-bg;
      color: @alert-success-text;
    }

    &.badge-Error {
      background-color: @alert-danger-bg;
      color: @alert-danger-text;
    }

    &.badge-Warning {
      background-color: @alert-warning-bg;
      color: @alert-warning-text;
    }

    &.badge-Notice {
      background-color: @alert-info-bg;
      color: @alert-info-text;
    }

    &.badge-primary {
      opacity: 1;
    }

  }
}