.document {

	table.facturaCalculation {
		max-width : none;
		width     : 100%;
		margin-top : (@grid-gutter-width);
		overflow-x: auto;
	}

	.subject{
		h1{
			font-size: @font-size-h5;
		}
	}

	.footer {
		text-align    : center;
		margin-top    : (@grid-gutter-width * 2);
		margin-bottom : (@grid-gutter-width * 2);
	}

	.header {
		.secondaryAddress {
			margin-bottom : @grid-gutter-width;
		}
		.primaryAddress {
			margin-bottom : @grid-gutter-width;
		}
		.vatNumber {
			margin-bottom : @grid-gutter-width;
		}
		.primaryElectronicAddress {
			margin-bottom : @grid-gutter-width;
		}
		.serialNumber {
			margin-bottom : @grid-gutter-width;
		}
		.dateTime {
			margin-bottom : @grid-gutter-width;
		}

	}

}
