.has-success {
	.form-control-validation(@has-error-state-success-text; @state-success-text; @state-success-bg);
}
.has-warning {
	.form-control-validation(@has-error-state-warning-text; @state-warning-text; @state-warning-bg);
}
.has-error {
	.form-control-validation(@has-error-state-danger-text; @state-danger-text; @state-danger-bg);
}